/* tablet */
@media screen and (max-width: 768px) {
  .container {
    margin: 1rem 3rem 1rem;
  }
  .navbar {
    overflow: visible;
  }
  .nav--container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0;
    justify-content: space-between;
    transition: 4s;
    align-items: center;
  }
  .nav {
    position: fixed;
    height: 23rem;
    width: 110%;
    background: rgba(32, 32, 32, 0.95);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0 0 16px 16px;
    border: 1px solid rgba(32, 32, 32, 0.95);
    transition: 1s;
    top: -400px;
    justify-self: center;
    left: -4%;
  }

  #bars_button {
    display: flex;
  }

  .nav--ul {
    flex-direction: column;
  }
  .x_close {
    top: -2px;
  }
  .fa-xmark {
    position: absolute;
    right: 14%;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: inline;
  }

  /* activity */
  .activity--background {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/complete_orange_hat.png) center/cover no-repeat fixed;
  }

  .nav--button {
    display: inline;
  }

  /* footer */
  .footer--container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }

  .contact--form--container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
    height: max-content;
    /* justify-items: left; */
    /* text-align: left; */
  }

  .quote--container {
    width: 80%;
  }

  .product--discription {
    width: auto;
  }

  .product--cards--container {
    padding-top: 50px;
  }

  .fa-userLarge {
    font-size: xx-large;
  }
}

@media screen and (max-width: 677px) {
  .nav--container {
    margin-top: 0;
  }

  .home--title {
    font-size: 1.5rem;
  }

  .home--description {
    font-size: 0.9rem;
  }
  .quote--title {
    font-size: 1.5rem;
  }

  .quote--description {
    font-size: 0.65rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .quote--container {
    padding: 1rem 0.85rem;
    margin-top: 3rem;
  }

  .shop--container {
    grid-template-columns: 1fr;
  }

  .product--cards--container {
    padding-top: 50px;
  }

  .about--title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .shop_card--container {
    flex-direction: row;
    width: 100%;
    height: 270px;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 40px; */
  }

  .product--cards--container {
    padding-top: 40px;
  }

  .change_button--container {
    align-self: auto;
  }
} /* small phone */

@media screen and (max-width: 425px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
